<!DOCTYPE html>
	<html>
		<script src="./bower_components/angular/angular.min.js" ></script>
		<link rel="stylesheet" type="text/css" href="./bower_components/semantic/dist/semantic.min.css">
		<script src="./bower_components/semantic/dist/semantic.min.js"></script>
		<script src="./bower_components/moment/moment.js"></script>


		<script src="controller.js" ></script>
	<body>
		<div ng-app="app" ng-controller="indexCtrl" class="ui centered container">
		 	<br /><br />
		 	
		 	<button class="ui button" ng-click="subWeek(4)"> << </button>
		 	<button class="ui button" ng-click="subWeek(1)"> < </button>
			<span class="ui huge label" >Kalender Woche: {{getDate()}}</span>
			<button class="ui button" ng-click="addWeek(1)"> > </button>
			<button class="ui button" ng-click="addWeek(4)"> >> </button>

			<br /><br /><br /><br />

			<div class="ui cards">
				<div class="card" ng-repeat="day in getCurrentDays()">
					<p class="content">{{day}}</p>
					<input class="description" type="text" size="40"/>
					<br />
				</div>
			</div>
				
		</div>
	</body>
</html>