<!DOCTYPE html>
  <html ng-app="app" ng-controller="indexCtrl" id="html"> <head>
    <!-- Angular JQuery -->
    <script src="./bower_components/angular/angular.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Semantic -->
    <link rel="stylesheet" type="text/css" href="./bower_components/semantic/dist/semantic.min.css">
    <script src="./bower_components/semantic/dist/semantic.min.js"></script>
    <!-- Moment -->
    <script src="./bower_components/moment/moment.js"></script>
    <!-- Parser -->
    <script src="./parser/bundle.js"></script>

    <!-- CSS and Js -->
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="controller.js" ></script>

    <!-- Icon and title -->
    <link rel="icon" href="./res/moni.ico" type="image/vnd.microsoft.icon">
    <title> Moni </title>

  </head> 
  <body>

    <div class="ui borderless main menu" id="header">
        <div class="ui large header" style="color: white;">
        <img class="logo" src="./res/moni.ico" />
        Moni - Stundenabrechnung (WIP)
        </div>   
    </div>
      
    <div id="masterGrid">
    <div id="mainContainer">

      <div class="">
        <button class="ui button" onclick="subWeek(5)" > << </button>
        <button class="ui button" onclick="subWeek(1)" > < </button>
        <span class="ui huge label" > {{"Kalender Woche: " + activeWeek + ", " + activeMonthName + " " + activeYear}} </span>
        <button class="ui button" onclick="addWeek(1)"> > </button>
        <button class="ui button" onclick="addWeek(5)"> >> </button>
      </div>

      <div class="ui cards" style="margin-top:1em;">
        <div class="card" ng-repeat="dayInfo in getCurrentDays()"><div ng-class="{greenCard: dayInfo.isWeekend, blueCard: !dayInfo.isWeekend}">
          <p class="content">{{dayInfo.dayName + ": " + dayInfo.day + ". " + dayInfo.monthName}}</p>
          <input style="margin-left:1em;margin-right:1em;" class="description" type="text" size="35" ng-model="inputs['input_' + dayInfo.wholeDate]"/>
          
          <p ng-repeat="s in inputs['input_' + dayInfo.wholeDate].split(',') track by $index"> {{$index + ": " + s}} </p>
          <p>{{ inputs | json}}</p>

          <div class="extra">
              Stunden: {{0}}
            </div>
        </div></div>
      </div>
        
    </div>

    <div id="shortCutContainer">
      <h1>Shortcuts</h1>
      <p>ctb - dudud</p>
      <p>ktl - dadada</p>
      <p>Hallo</p>
      <p>Hallo</p>
    </div>
    </div>

  </body>
</html>