<!DOCTYPE html>
	<html>
		<script src="./bower_components/angular/angular.min.js" ></script>
		<link rel="stylesheet" type="text/css" href="./bower_components/semantic/dist/semantic.min.css">
		<script src="./bower_components/semantic/dist/semantic.min.js"></script>
		<script src="./bower_components/moment/moment.js"></script>
		<script src="./parser/parser.js"></script>

		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="controller.js" ></script>

		<link rel="icon" href="./res/moni.ico" type="image/vnd.microsoft.icon">
		<title> Moni </title>
	<body>
			<div id="header" class="ui huge header">
				<img class="ui image" src="./res/moni.ico"></img>
				<div class="content" >Moni - Stundenabrechnung</div>	
			</div>
		 	
		<div ng-app="app" ng-controller="indexCtrl" class="ui centered container" id="mainContainer">

		 	<div class="">
			 	<button class="ui button" ng-click="subWeek(4)"> << </button>
			 	<button class="ui button" ng-click="subWeek(1)"> < </button>
				<span class="ui huge label" > {{"Kalender Woche: " + activeWeek + ", " + activeMonthName}} </span>
				<button class="ui button" ng-click="addWeek(1)"> > </button>
				<button class="ui button" ng-click="addWeek(4)"> >> </button>
			<div>

			<div class="ui cards" style="margin-top:1em;">
				<div class="blue card" ng-repeat="dayInfo in getCurrentDays()"><div ng-class="{greenCard: dayInfo.isWeekend, blueCard: !dayInfo.isWeekend}">
					<p class="content">{{dayInfo.dayName + ": " + dayInfo.day + ". " + dayInfo.monthName}}</p>
					<input style="margin-left:1em;margin-right:1em;" class="description" type="text" size="35" ng-model="inputs['input_' + dayInfo.wholeDate]"/>
					
					<p ng-repeat="s in inputs['input_' + dayInfo.wholeDate].split(',') track by $index"> {{$index + ": " + s}} </p>
					<p>{{ inputs | json}}</p>

					<div class="extra">
     			 		Stunden: {{0}}
				    </div>
				</div></div>
			</div>
				
		</div>
	</body>
</html>