body {
	background-color: rgb(238,238,238);
}

#header {
	border-bottom:2px solid white;
	font-size: 1.6em;
	padding: .1em;
	background-color: rgb(65,177,225);
}

/* Moni color rgb(65,177,225) */
#mainContainer {
	background-color: white;

	width: 700px;
	height: 1000px;
	
	padding-left:2em;
	padding-top:2em;
	
	margin-top:1em;
	margin-left: 1em;
	margin-right: 5em;

	/*border: 2px solid black;*/
	border-radius: 10px;

	/*border-left:3px solid navy;
	border-right:3px solid navy;
	*/
}

#masterGrid {		    
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#shortCutContainer {
	background-color: white;

	width: 20%;
	height: 600px;

	min-width: 100px;
	padding-left:3em;
	padding-top:3em;
	margin-top:1em;
	margin-right: 1em;

	border-radius: 10px;
}

.greenCard {
	padding: .5em;
	background-color: rgb(144, 238, 144);
}
.blueCard {
	padding: .5em;
	background-color: rgb(243, 237, 237);
}